* {
  margin: 0vh;
  padding: 0vh;
  background-color: black;
  color: white;
  overflow: hidden;
}
.header {
  height: 10vh;
  width: 100%;
  display: flex;
  overflow-y: hidden;
}
.logo {
  height: 100px;
  position: relative;
  left: 10vw;
}
.shadow {
  position: relative;
  left: 10vw;
  top: 3vh;
  font-size: xxx-large;
  font-weight: 700;
}
.inter {
  height: 100vh;
  width: 100%;
}
.welcome {
  position: relative;
  left: 20vw;
  bottom: 95vh;
  font-size: 100px;
  font-weight: 700;
  background-color: transparent;
}
.login {
  position: relative;
  left: 20vw;
  bottom: 95vh;
  font-size: 40px;
  font-weight: 300;
  background-color: transparent;
}
.emaillable {
  height: 4vh;
  width: 20vw;
  position: relative;
  bottom: 92vh;
  left: 20vw;
  color: lightseagreen;
  background-color: transparent;
  border-radius: 10px;
}
.email {
  height: 4vh;
  width: 20vw;
  position: relative;
  bottom: 91vh;
  left: 20vw;
  background-color: transparent;
  border-radius: 5px;
  border: 0.01px solid;
  border-color: lightseagreen;
  outline: none;
}
.paswardlable {
  height: 4vh;
  width: 20vw;
  position: relative;
  bottom: 85vh;
  left: -0.1vw;
  color: lightseagreen;
}
.password {
  height: 4vh;
  width: 20vw;
  position: relative;
  bottom: 85vh;
  left: 20vw;
  color: lightseagreen;
  background-color: transparent;
  border-radius: 5px;
  border: 0.01px solid;
  outline: none;
}
.forgit {
  text-decoration: none;
  position: relative;
  bottom: 79vh;
  left: 0vw;
  color: lightseagreen;
  background-color: transparent;
  cursor: pointer;
}
.loginbtn {
  height: 5vh;
  width: 20vw;
  position: relative;
  bottom: 73vh;
  left: -9vh;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  box-shadow: inset 6px 22px 40px lightseagreen;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}
.not {
  position: relative;
  bottom: 70vh;
  left: 20vw;
  background-color: transparent;
}
.sign {
  height: 3vh;
  width: 7vw;
  border-radius: 5px;
  border: 1px solid lightseagreen;
  position: relative;
  bottom: 69vh;
  left: 20vw;
  cursor: pointer;
}
